body{
    background-color: rgb(17, 17, 17);
    font-family: 'IBM Plex Mono';
    color: #39ff14;
}

a{
    text-decoration: none;
    color: #39ff14;
}

.logo{
    filter: invert(65%) sepia(74%) saturate(468%) hue-rotate(61deg) brightness(94%) contrast(145%);
    width: 10vw;
    margin-top: 2rem;
    margin-left: 2rem;
}

.title{
    margin-top: 4rem;
    margin-left: 2rem;
}

.spe{
    width: 30rem;
    height: 6vh;
    background-color: transparent;
    border: solid #39ff14 2px;
    margin-left: 2rem;
    color: #39ff14;
}

.spe:hover{
    transition: all ease-in 0.2s;
    color: rgb(17, 17, 17);
    background-color: #39ff14;
}

.psp-txt{
    margin-top: 0.8rem;
    padding-left: 0.8rem;
}

.ico{
    border: solid 2px #39ff14;
    width: 5vw;
    height: 11vh;
    margin-left: 2rem;
}

.ico:hover{
    transition: all ease-in 0.2s;
    color: rgb(17, 17, 17);
    background-color: #39ff14;
}

.img6{
    width: 4vw;
    margin-top: 0.6rem;
    margin-left: 0.6rem;
}